body {
  display: flex;
  justify-content: center;
}

.calculator {
  height: 800px;
  width: 500px;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.digits {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.digits button {
  padding: 40px;
  margin: 10px;
}

.display {
  border: 10px dotted blue;
  width: 400px;
}